.btn-secundary{
    color: #fbfdff;
    background-color: #6bade7;
    border-color: #6bade7;
}
.btn-secundary:hover{
    color: #010407;
    background-color: #a7baf7;
    border-color: #a7baf7;
    box-shadow: -3px 3px 16px #6bade7
}
.mt-4{
font-family:'Courier New', Courier, monospace
}

.contenedor-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .contenedor-modal button {
    position: relative;
    top: 40%;
  }
 