<div class="container my-3 text-center" width="auto" height="1000">
  <div class="row">
    <div class="col">
      <div class="mt-4" id="comic">
        <h1>{{ title }}</h1>
        <img width="auto" height="auto"
          src="{{ imagen }}"
          class="img-fluid rounded"/>
        <hr>
        <button type="submit" class="btn btn-secundary" (click)="open()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              fill="currentColor"
              class="bi bi-award-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"
              />
              <path
                d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"
              />
            </svg>
          </button>
      
        </div>
      </div>
    </div>
  </div>

